---
import Layout from '../layouts/Layout.astro'

interface Category {
    name: string
}

interface Article {
    id: string
    title: string
    authors: { username: string }[]
    content: string
    views: string
    summary: string
    categories: Category[]
    thumb: {
        url: string
    }
}

let articles: Article[] = []

try {
    const response = await fetch('https://cms.2077.xyz/api/articles')
    articles = await response.json()
} catch (error) {
    console.error(error)
}
---

<Layout
    title="2077 Research"
    description="Deep dives and technical analyses on Ethereum infrastructure, protocols, and applications"
>
    <main class="max-w-screen-3xl m-auto mb-24">
        <section class="pt-8 px-6 lg:px-32">
            <div class="mb-16">
                <h1 class="font-avenir text-6xl font-bold uppercase mb-4">
                    Research
                </h1>
                <p>
                    Deep dives and technical analyses on Ethereum,
                    infrastructure, protocols, and applications
                </p>
            </div>
            <div class="flex justify-between">
                <div
                    class="menu hidden dark:bg-gray bg-black lg:block mr-12 rounded-xl xl:w-1/6 h-[520px]"
                >
                    <div class="pt-8 px-8 flex flex-col gap-6">
                        {
                            Array.from(
                                new Set(
                                    articles.flatMap((article) =>
                                        article.categories.map(
                                            (category) => category.name,
                                        ),
                                    ),
                                ),
                            ).map((category) => (
                                <a
                                    class="block px-4 py-4 text-white hover:text-black hover:bg-greenLm hover:rounded"
                                    href={`/categories/${category}`}
                                >
                                    {category}
                                </a>
                            ))
                        }
                    </div>
                </div>
                <ul
                    class="mb-32 grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-12 gap-y-4 xl:w-5/6"
                >
                    {
                        articles.map((article: Article) => (
                            <li
                                class="flex flex-col gap-y-1"
                                data-key={article.id}
                            >
                                <a
                                    class="bg-transparent"
                                    href={`/${article.id}`}
                                >
                                <img
                                    src={`${article.thumb}`}
                                    alt=""
                                    width="720"
                                    height="480"
                                />
                                <ul class="flex gap-x-2 py-2">
                                    {article?.categories.map((category) => (
                                        <li>
                                            <div
                                                class="flex items-center gap-0.5 text-sm bg-[#1B1B1B] text-[#C6FF50] max-w-fit-content px-2 py-1.5 rounded-md"
                                            >
                                                {category.name}
                                            </div>
                                        </li>
                                    ))}
                                </ul>
                                <h2 class="mb-2 text-xl font-bold">{article.title}</h2>
                                <p class="mb-4">{article.summary}</p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </section>
    </main>
</Layout>

<style is:global>
    .menu {
        clip-path: polygon(30px 0, 100% 0, 290% 20px, 85% 100%, 0 100%, 0 30px);

        a {
            clip-path: polygon(
                30px 0,
                100% 0,
                110% 20px,
                85% 100%,
                0 100%,
                0 30px
            );
        }
    }

    .categories-link.active,
    .categories-link.all-link,
    .categories-link:hover {
        clip-path: polygon(30px 0, 100% 0, 110% 20px, 85% 100%, 0 100%, 0 30px);
    }
</style>
