---
import Layout from "../layouts/Layout.astro";

interface Category {
  name: string;
}

interface Article {
  id: string;
  title: string;
  authors: { username: string }[];
  content: string;
  views: string;
  summary: string;
  categories: Category[];
  thumb: string;
}

let articles: Article[] = [];

try {
  const response = await fetch("http://127.0.0.1:8000/api/articles");
  articles = await response.json();
} catch (error) {
  console.error(error);
}
---

<Layout
  title="2077 Research"
  description="Deep dives and technical analyses on Ethereum infrastructure, protocols, and applications"
>
  <main class="max-w-screen-3xl m-auto">
    <section class="pt-8 px-6 lg:px-32">
      <div class="mb-8">
        <h1>Research</h1>
        <p>
          Deep dives and technical analyses on Ethereum, infrastructure,
          protocols, and applications
        </p>
      </div>
      <div class="flex justify-between">
        <div class="hidden lg:flex pr-12 xl:w-1/6">
          <ul>
            <li class="">all</li>
            <li class="">DeFi</li>
            <li class="">Governance</li>
            <li class="">Infrastructure</li>
            <li class="">Level 1</li>
            <li class="">Level 2</li>
          </ul>
        </div>
        <ul
          class="mb-32 grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12 xl:w-5/6"
        >
          {
            articles.map((article: Article) => (
              <li class="mb-6" data-key={article.id}>
                <img src={`${article.thumb}`} alt="" width="720" height="480" />
                <ul>
                  {article?.categories.map((category) => (
                    <li>
                      <a href={`/categories/${category.name}`}>
                        {category.name}
                      </a>
                    </li>
                  ))}
                </ul>
                <h2>{article.title}</h2>
                <>
                  <p>{article.summary}</p>
                  <a href={`/${article.id}`}>Read post</a>
                </>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
